/* style css */

body {              
    margin: 0 50vh 0;  
    max-width: 80vh;    
    min-height: 100vh;  
    font-family: Arial, Helvetica, sans-serif;  
}

/* HEADER */
.header {          
    padding: 5px 100px 0px;        
}

.header-content {        
    margin-top: 60px;    
}

.right-links {       
    list-style-type: none;
    padding: 0px;
    margin: 0px;      
    gap: 15px;        
}

.logo {
    font-size: 24px;  
    font-weight: 600;  
}

.header-img {
    max-height: 15em;    
    margin-left: 5px;
}

h1 {
    padding-right: 50px;
    margin-top: 0;
}

.header-button {
    border: 0;
    padding: 5px 20px 5px;
    margin: 15px;
}

/* MULTIPLE CLASSES */

.header, .footer {
    background-color: #1f2937;
}

.header-container, .header-content {
    justify-content: space-between;
}

.header-container, .header-content, .section-one-warper, .right-links, .footer, .section-three, .header, .site, .section-two, .section-one, .section-three-warper, .section-three-container, body {
    display: flex;       
}

body, .site, .header, .section-one {
    flex-direction: column; 
}

.section-three-container, .section-one {
    text-align: center;
}

body,.section-two, .section-three-container, .footer, .section-three-warper {
    justify-content: center;   
}

.site, .footer, .section-one-warper { 
    align-items: center;   
}

.section-two, .section-three {
    flex-direction: column;    
}

a {    
    text-decoration: none;    
}

h1 {
    font-size: 48px;
}

.logo, h1, .section-three-title, button, .footer {    
    color: #f9faf8;
}

button, .section-three {
    background-color: #3882f6;
    border-radius: 5px;    
}

a, .sub-text {
    color: #e5e7eb;
    font-size: 18px;
}

h3 {
    font-size: 36px;
}

/* SECTION ONE */
.section-one, .header, .site { 
    flex: 1;     
}

.info {
    max-width: 10em;
}

.section-one-warper {
    gap: 30px;
}

.warper-img {
    height: 8em;
    width: 8em;
    border: #3882f6 solid;
    border-radius: 10px;
}

.text {      
    text-align: left; 
    padding: 5px 5px 0 15px;
}

button:hover {
    background-color: rgb(0, 0, 255);
}

/* SECTION TWO */
.section-two {
    background-color: #e5e7eb;       
    flex: 3; 
}

.section-two-warper {
    margin: 0 250px 0;  
}

.author {
    text-align: right;
    font-weight: 900;
    padding-right: 25px;
}

.section-two-text {
    font-size: 24px;
}

/* SECTION THREE */
.section-three {
    margin: 60px;
}

.section-three-container {     
    margin: 40px;
}

.section-three-button {
    margin: 50px 50px 50px;    
    min-height: 30px;
    padding: 0 25px 0;
    border-color: #f9faf8;
    font-weight: 900;
}

.section-three-title {
    font-weight: 900;
    font-size: 20px;
}

/* FOOTER */

.footer {      
    height: 50px;                
}